<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" metadata-complete="true" version="3.1">
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <absolute-ordering/>
  <filter>
    <filter-name>ObjectifyWebFilter</filter-name>
    <filter-class>com.ce.saas.gae_adapter.requests.servlets.ObjectifyWebFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ObjectifyWebFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>BaseApiServlet</servlet-name>
    <servlet-class>com.ce.saas.gae_adapter.requests.servlets.BaseApiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseApiServlet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>com.ce.saas.gae_adapter.requests.servlets.BaseServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/baseservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BaseWebServlet</servlet-name>
    <servlet-class>com.ce.saas.gae_adapter.requests.servlets.BaseWebServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BaseWebServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AppShutdownServlet</servlet-name>
    <servlet-class>com.ce.saas.gae_adapter.requests.servlets.AppShutdownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppShutdownServlet</servlet-name>
    <url-pattern>/internal/gae_adapter/app/shutdown</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.ce.saas.gae_adapter.requests.servlets.DefaultServletContextListener</listener-class>
  </listener>
</web-app>